/**
* Day-{{day}} Include Header
*/
#pragma once

#include <string_view>
#include <iostream>
#include <string>

int64_t handlePart1(const std::string_view input);
int64_t handlePart2(const std::string_view input);